@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
    --corEducad: #211A30;
    --corAzulMedio: #3861CA;
    --corAzulMarinho: #36407C;
    --corTexto: #1B1D2A;
    --corBotaoSoftware: #273D4E;
    --corBotaoPeriodo: #8457D6;
    --corBotaoPago: #2FB02C;
    --corBotaoDepente: #D73737;
    --corBotaoCursando: #D3D737;
}

.semester-subjects {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--corAzulMedio), var(--corAzulMarinho));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    /* border: 1px solid red; */
}

.container-disciplinas {
    margin: 50px 110px;
    /* border: 1px solid red; */
}

/**/

.lista-disciplinas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.disciplina {
    width: 570px;
    height: 210px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0px 3px 10px #888888;
    margin-right: 40px;
}

.titulo-disciplina {
    font-size: 22px;
    font-weight: bold;
    color: var(--corTexto);
    margin-bottom: 7px;
    /* border: 1px solid red; */
}

.professor-disciplina, .codigo-disciplina {
    color: var(--corTexto);
    margin-bottom: 6px;
}


/*CORRECAO*/

a {
    text-decoration: none;
}

.correcao-disciplinas > a {
    display: flex;
    width: 650px;
    height: 210px;
}

.correcao-disciplinas > a > img {
    margin: 45px 25px;
}

.correcao-disciplinas > a > .informacao-disciplina {
    width: 375px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.botoes-disciplina {
    margin-top: 18px;
}

button {
    width: 101px;
    height: 28px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.botao-software {
    color: white;
    background-color: var(--corBotaoSoftware);
}

.botao-periodo {
    background-color: var(--corBotaoPeriodo);
    color: white;
}

.situacao-pendente {
    background-color: var(--corBotaoDepente);
    color: white;
}

.situacao-concluido {
    background-color: var(--corBotaoPago);
    color: white;
}

.situacao-cursando {
    background-color: var(--corBotaoCursando);
    color: white;
}