@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/*BLOCO IMAGEM*/
.dados-basicos {
    display: flex;
    background-color: var(--corTexto);
    width: 880px;
    margin: 50px 300px 0px 300px;
    border-radius: 20px;
}
