@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  justify-content: center; /*Centraliza horizontalmente*/
  grid-template-columns: repeat(2, 1fr);
  align-content: center; /*Centraliza verticalmente*/
  height: 100vh;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: auto;
}

.login-form h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #1b1d2a;
  margin-bottom: 30px;
}

.login-form p,
a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.login-form a {
  text-decoration: none;
  color: #2e81ff;
}

.login-form p {
  text-decoration: none;
  /*   color: #2E81FF; */
  margin-top: 25px;
}

.campos-login {
  position: relative;
}

.campos-login input,
.btn-login {
  width: 495px;
  height: 54px;
  border-radius: 8px;
  outline: none;
}

.campos-login input {
  width: 430px;
  border: 1.5px solid #2e81ff;
  padding: 0px 0px 0px 62px;
  font-weight: 400;
  font-size: 16px;
  color: #a6a6a6;
  transition: 0.3s;
}

.campos-login input::placeholder {
  opacity: 0.7;
}

.campos-login input:focus {
  border-color: #2e81ff;
  box-shadow: 0 0 8px 0 #2e81ff;
}

#user {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 9px 22px;
  fill: #2e81ff;
  width: 16px;
}

#olho {
  width: 20px;
  position: absolute;
  right: 0;
  top: 106px;
  padding: 9px 22px;
  color: black;
}

.lock {
  width: 20px;
  position: absolute;
  left: 10;
  top: 106px;
  padding: 9px 22px;
  color: #2e81ff;
}

.btn-login {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #1b1d2a;
  color: #ffff;
  transition: 0.3s;
  /*   margin-top: 20px; */
}

.btn-login:hover {
  background-color: #b3b0bf;
  color: #1b1d2a;
}

/*Logo educad e slogan*/
.login-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #1b1d2a 0%, #211a30 100%);
  color: #fff;
  width: 100%;
}

.login-visual h1 {
  font-size: 128px;
}

.login-visual p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 1px;
}

#login-visual-imagem {
  width: 100%;
  height: 100%;
}
